.custom-dropdown-toggle {
  background-color: #f5c618;
  color: #000;
  border: 2px solid #000;
}

.custom-dropdown-toggle:hover,
.custom-dropdown-toggle:focus {
  background-color: #f5c618;
  border: 2px solid #000;
  color: black;
}

.blackBtn {
  background-color: #000;
  color: #fff;
  border: 2px solid #f5c618;
}

.blackBtn:hover,
.blackBtn:focus {
  background-color: #000;
  border: 2px solid #f5c618;
}
