@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");

.navbar-custom {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font: bold 24px "Roboto";
    color: #000;
    background: #f5c618;
    padding: 7px;
    border-radius: 6px;
    margin: 0;
    text-decoration: none;
  }

  .search-wrapper {
    flex-grow: 1;
    margin: 0 1em;

    @media screen and (max-width: 767px) {
      flex-basis: 100%;
      order: 1;
    }

    .form-control {
      border-radius: 10em;
      border: 1px solid #aaa;
      color: #666;
    }
  }

  .nav-link {
    color: white;
    &:hover {
      color: grey;
    }
  }
}
